.nav {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.nav__logo h1 {
  font-size: 2rem;
  font-weight: bold;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
